// stylelint-disable at-rule-empty-line-before

@import "variables";
@import "functions";
@import "mixins";
@import "sprites";
@import "fonts";
@import "vendor";
@import "base";

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400&subset=cyrillic');

body {
	padding-top: 127px;
	font-family: 'Open Sans', sans-serif;
	color: #3e3d45;
}

h2 {
	margin: 15px 0;
	font-size: 28px;
}

h3 {
	font-size: 21px;
}

p {
	margin: 1px 0;
	font-size: 17px;
}

section {
	margin: 0 auto 20px;
	max-width: 946px;
	height: auto;
	box-shadow: 0 0 9px 1px rgba(199,207,219,0.6);
	border-radius: 2px;
	padding: 25px;

	.section__direction {

		.header {
			width: 345px;
			background-color: #5eaf37;
			color: #fff;
			margin-left: -25px;
			padding: 7px 0 7px 25px;
			margin-bottom: 35px;
			font-weight: lighter;
		}

		.products_list {
			display: flex;
			justify-content: space-around;
			margin-bottom: 20px;

			.product {
				text-align: center;
				width: 210px;
			}

			img {
				width: 210px;
				height: 190px;
			}
		}

	}

	.section_detail {

		.connections_list {
			display: flex;
			justify-content: space-around;

			.connection {
				text-align: center;
				width: 150px;

				p {
					font-size: 15px;
				}

				img {
					height: 140px;
					width: 150px;
				}
			}

		}
		.delivery_list {
			display: flex;
			justify-content: space-between;
			align-items: center;

			.delivery {
				p {
					font-size: 14px;
				}

				img {
					width: 331px;
					height: 306px;
				}
			}
		}
		.mount_list {
			display: flex;
			justify-content: space-between;
			padding: 0 80px;

			.mount {
				p {
					font-size: 14px;
				}

				img {
					width: 336px;
					height: 309px;
				}
			}
		}
		.complect_connections_list {
			margin-top: 25px;
			display: flex;
			justify-content: space-around;

			.complect_connection {
				width: 278px;

				img {
					width: 266px;
					height: 238px;
				}
				p {
					font-size: 14px;
				}
			}
		}

		.form-block {
			border: 2px solid #f7621e;
			border-radius: 2px;
			padding: 25px;

			.header {
				display: flex;
				justify-content: space-between;
				h3 {
					font-size: 24px;
					margin: 0;
					font-weight: lighter;
				}
				margin-bottom: 25px;
				padding-right: 20px;
			}

			form {
				display: flex;
				justify-content: space-between;

				input[type='text'] {
					border: 1px solid #b0b0b0;
					border-radius: 5px;
					width: 290px;
					height: 46px;
					padding: 5px;
					color: #b0b0b0;
					font-weight: lighter;
				}
				input::placeholder {
					color: #c9c9c9;
				}

				button {
					background-color: #5eaf37;
					color: #fff;
					border-radius: 5px;
					width: 240px;
					height: 46px;
					font-weight: lighter;
					font-size: 20px;
				}
			}
		}

	}
}

.section_pdf {
	margin: 0 auto;
	margin-bottom: 20px;
	max-width: 946px;
	display: flex;
	justify-content: space-between;

	.half {
		max-width: 464px;
		box-shadow: 0 0 9px 1px rgba(199,207,219,0.6);

		&_text {
			padding: 0 25px;
			display: flex;
			flex-direction: column;
			//align-items: center;

			a {
				text-align: center;
				background-color: #f7621e;
				border-radius: 5px;
				padding: 10px 35px;
				margin: 25px auto 35px auto;
				display: block;

				font-weight: lighter;
				color: #fff;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
					background-color: #e35b1d;
				}

			}
		}
	}
}
